/*Justin Bradshaw A01782405
Style Sheet for Static Site


FDEDD0	BCF1ED	FF634D	FD795B
*/
body{
	width: 1100px;
	background-color: #FDEDD0;
	margin-left: auto;
	margin-right: auto;
}

nav{
	background-color: #FD795B;	
	height: 70px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: outset 10px lightgrey;
	text-align: center;
	padding-top: 45px;
}

hr.style{
	padding: 0;
    border: none;
    border-top: 5px double #FD795B;
    color: #FD795B;
}

.navigation a{

	list-style-type: none;
	margin-top: 20px;
	margin-right: 100px;
	margin-left: 100px;
	color: #FFFFFF;
	border: outset 6px lightgrey;
	padding: 18px;
	background-color: #FF634D;
	text-decoration: none;

}

.navigation a:hover{
	background-color: #BCF1ED;
	border: outset 5px #BCF1ED;
	color: #FF634D;
}

h1{
	text-align: center;
}

div.fishing{
	text-align: center;
}

img.slide{
	height: 200px;
	float: right;
	margin-left: 20px;
	margin-bottom: 25px;
	clear: left;
}

img.concussion{
	float: left;
	margin-left: 20px;
	margin-bottom: 50px;
	height: 200px;
}

img.lake{
	float: right;
	margin-right: 20px;
	margin-bottom: 50px;
	clear: left;
	height: 200px;
}

div.sp2016{
	clear: right;
	text-align: right;
}

div.fall2016{
	clear: left;
}

img.aggie{
	margin: auto;
	height: 350px;
	border: inset 10px lightgrey;
}

p.modify{
	padding-top: 30px;
}

th, tr{
	padding-right: 10px;
}

table{
	margin-top: 20px;
	margin: auto;
}

h3.forTable{
	text-align: center;
	margin-top: 20px;
}

ul{
	text-align: right;
	list-style-position: inside;
	list-style-type: square;
}
